# AndroidIDE ve Gradle için temel dosyalar
.gradle/
.idea/
build/
app/build/
*.iml
*.iws
*.ipr
*.iws
.project
.classpath
.settings/
bin/
gen/

# Yerel dosyalar (Kişisel ayarlar)
local.properties
.DS_Store

# Uygulama çıktısı
*.apk
*.ap_
*.dex
